[submodule "imgui"]
	path = include/imgui
	url = git@github.com:ocornut/imgui.git
	branch = master
[submodule "glm"]
	path = include/glm
	url = git@github.com:g-truc/glm.git
	branch = master
[submodule "spdlog"]
	path = include/spdlog
	url = git@github.com:gabime/spdlog.git
	branch = v1.x
[submodule "glfw"]
	path = include/glfw
	url = git@github.com:glfw/glfw.git
	branch = latest
